# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large files (manually added)
1011-手机手感最佳人因设计参考手册.pdf
public/palmscan
手部测量识别/
手机购买推荐app设计.zip
