<?xml version="1.0" encoding="UTF-8" standalone="yes"?><w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"><w:compat><w:spaceForUL w:val="1"/><w:balanceSingleByteDoubleByteWidth w:val="1"/><w:doNotLeaveBackslashAlone w:val="1"/><w:ulTrailSpace w:val="1"/><w:doNotExpandShiftReturn w:val="1"/><w:adjustLineHeightInTable w:val="1"/><w:useFELayout w:val="1"/></w:compat></w:settings>